
body {
}
#navcolor {
	background-color: brown;
}
.carousel-caption {
	position: absolute;
	top:50%;
	color: #ffab00;
	font-family: brush script mt;
}
.jumbotron {
	
	font-size: 500%;
	font-family: brush script mt;
	text-align: center;
	border-radius: 0;
}
hr {
	border-top: 2px solid #b4b4b4;
	width: 35%;
	margin-top: none;
	margin-bottom: 1rem;
	
} 
h1.display-6 {
	text-align: center;
}
p.lead {
	font-family: brush script mt;
	text-align: center;
}
h6.skills {
	font-family
}
#about {
	background-color:;
	margin-top: 80px;
	
}
h2 {
	text-align: center;		
}
p.note {
	text-align: center;
	
}
.fa-laptop {
	font-size: 50px;
}
.fa-chart-pie {
	font-size: 50px;
}
.fa-clock {
	font-size: 50px;
}
.service {
}
#service1 {
	text-align: center;
}
#service2 {
	text-align: center;
}
#service3 {
	text-align: center;
}

hr.my-3 {
	width: 100%;
	margin-top: none;
	margin-bottom: none;
	padding-bottom: none;
}
.fa-map-marker-alt {
	font-size:20px;
	float: left;
	margin-left: 90px;
	margin-right: 0px;
}
.fa-phone {
	font-size: 15px;
	color: green;
}
.fa-users {
	font-size: 30px;
	float: left;
	margin-left: 170px;
}
.fa-facebook {
	font-size: 15px;
	color: #3b5998;
}
.fa-instagram {
	font-size: 15px;
	color: #517fa4;
}
.fa-twitter {
	font-size: 15px;
	color: #00aced;
}
.fa-google {
	font-size:15px;
	color: #dd4b39;
}
h5.address {
	margin-right: 10px;
}
h6.footernav {
	margin-top: 50px;
}
#navoptions {
	font-size: 20px;
}
.fa-home {
	color: yellow;
}
a {
	color: white;
}
a:hover {
	text-decoration: none;
	color: grey;
	
	
}
p.html5 {
	text-align: right;
}
#about-title {
	font-size: 50px;
	margin-top: 10px;
	margin-left: 100px;
	
}
#myskills {
	color:white;
	background-color: black;
}
.myskills {
	float: right;
	margin-top: 200px;
}















