.about {
	background-color: #D6EAF8;
	font-size: 20px;
}
img.profile {
	border-radius: 15px;
	height: auto;
	width: 100%;
}
a.about-links {
	text-decoration: underline;
}
a.about-link1:link {
	color: #1F618D;
	font-family: 'Palette Mosaic', cursive;
}
a.about-link1:hover {
	color: #7FB3D5; 
}
main h1 {
	color: #1F618D;
}
main p {
	font-size: 25px;
}
.skills {
	
}
.skill-icons {
	text-align: center;
}
.fa-html5 {
	  color: #f06529;
}
.fa-css3 {
	color: #2965f1;
}
.fa-js-square {
	color: #f0db4f;
}
.fa-wordpress {
	color: #00749C;
}
.fa-bold {
	color: #563d7c;
}
.fa-react {
	color: #61DBFB;
}
.fa-php {
	color: #8993be;
}
.fa-sass {
	color: #CD6799;
}
.icons {
	font-size: 40px;
}

.footer {
	padding: 0 30px 20px 30px;
	padding-right: 30px;
	text-align: center;
	padding-bottom: 20px;
	background-color: #7FB3D5; 
}
@media screen and (max-width: 576px){
	.about {
		padding:100px 30px;
	}
	.skills {
		padding-top: 50px;
	}
	.skill-icons {
		padding: 30px 0;
	}
	.about-text1 {
		padding-top: 30px;
	}
}
@media screen and (max-width: 767px) and (min-width: 577px) {
	.about {
		padding:50px  30px;
	}
	.skill-icons {
		padding: 30px 0;
	}
}
@media screen  and (max-width: 991px) and (min-width: 768px) {
	.about {
		padding: 50px;
	}
	.skills {
		margin: 50px 0;
		
	}
	.skill-icons {
		padding: 30px 50px;
	}
}
@media screen and (min-width: 992px){
	.about {
		padding: 100px;
	}
	.skills {
		margin:50px 0;
		
	}
	.skill-icons {
		padding: 30px 150px;
	}
	.fa-html5 {
		left: 80%;
	}
}